* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {

background: #f3f3f3;
font-family: 'Open Sans', sans-serif;
background: url(../img/DSC_0750.jpg) no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;



}

a {

    text-decoration: none;
}

.contenedor {

    width: 90%;
    max-width: 800px;
    margin: auto;
}

header {
    padding: 40px 0 ; /*arriba y abajo de 40px  */
}

header .logo {
    text-align: center;
  /*  margin-bottom: 40px;*/

    margin-top: 10px;
    color:#f3f3f3;
}

header .logo p {
    color:#f3f3f3;
}

header form {
    width: 100%;
    display: flex;
    justify-content: center; /*para centrar  */
    margin-bottom: 20px;
}





header .barra-busqueda {

    width:70%;
    height: 40px;
    line-height: 40px; /*para q el texto dentro del input este centrado*/
    background: #FFF;
    padding: 0 20px; /*arriba y abajo de 0px y a los lados de 20px*/
    border-radius: 100px;
    border: none;
    text-align: center;
    font-size: 16px;
}

header .categorias {

   display: flex; /*para centrarlos y espaciados y acomodados bien */
   justify-content: center; /*para que todos los elementos esten centrados */
   flex-wrap:wrap; /* para que los elementos me los encierre, si tengo mas elementos y no caben me los coloca abajo.*/

}


header .categorias a {
    color:#f3f3f3;
    margin: 10px 20px;  /* arriba y abajo de 10px y a los lados de 20px*/
    font-size: 18px;
    font-weight: 700; /* para poner una fuente en negrita */

}

header .categorias a.activo {

    color: #000; /* color negro*/
}


.grid {
  position: relative;
  width: 100%;
  opacity: 0;
  transition: opacity 0.5s linear 0.7s;
}

.grid.imagenes-cargadas {
  opacity: 1;
}


.grid .item {
  position: absolute;
  display: block;
  padding: 0;
  margin: 10px;
  width: calc(33.3333% - 20px);

}

.grid .item-contenido {
  position: relative;
}

.grid .item img {

  width: 100%;
  cursor: pointer;
  vertical-align: top; /* quito el margen q por defecto tienen las imagenes.*/
}


.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0,.9);
  width: 100%;
  height: 100vh;
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.overlay.activo {
  display: flex;

}

.overlay img {
  max-width: 100%;
}

.overlay .descripcion {
  display: block;
  background: #fff;
  padding: 20px;
  text-align: center;
  margin-top: 5px;
  border-radius: 10px;
  max-width: 50%;
}

contenedor-img {
  position: relative;


}

.overlay #btn-cerrar-popup {
background: none;
font-size: 20px;
color: #fff;
border: none;
cursor: pointer;
position: absolute;


}

/* FOOTER */

footer .redes-sociales {

  display: flex; // acomodarlos con flexbox
  align-content: center;
  justify-content: center;
  padding: 20px;
  flex-wrap: wrap; //cuando los iconos no caben se ponen uno denajo del otro

}




footer .redes-sociales a {
  display: block;
  width: 60px;
  height: 60px;
  background: #000; /*esto no es necesario*/
  color: #fff;
  margin : 15px;
  text-align: center;
  border-radius: 100px;
  transition: .3s ease all;

}

footer .redes-sociales .facebook {background: #3b5998 }
footer .redes-sociales .instagram {background:#c13584 }

footer .redes-sociales a i {
  font-size: 30px;
  line-height: 60px;


}

footer .contenedor-icono:hover a {

animation : icono .5s ease;

}

@keyframes icono {
  from {
    transform: rotate3d(0,0,0,0);
  }

  to {

transform: rotate3d(0,1,0, 360deg);
  }
}

footer .creado-por p {
  text-align: center;
  justify-content: center;
  color:#f3f3f3
}

footer .creado-por a {
  text-align: center;
  color: red;
}

footer .creado-por a:hover {
  color: red;
  text-decoration: underline;
}

/*--------------------------------------*/
/*MEdiaqueries*/
/*---------------------------------------*/


@media screen and (max-width: 700px) {

  .grid .item {
    width: calc(50% - 20px);
  }

  header .barra-busqueda {
    width: 100%;
  }
}
